/*---------------------------Fonts connection---------------------------*/
@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;

  src: local("Roboto"),
       url("../../assets/fonts/Impact.otf") format("opentype"),

}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.12") format("woff2"),
       url("Inter-Light.woff?v=3.12") format("woff");
}
/*---------------------------CSS Reset---------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h6, p, span, a, label, input{
    font-family:"Inter", sans-serif;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

html {
  font-size: 12px;
}

/*-------------------------------ОСНОВНОЙ КОД------------------------------*/