/*---------------------------Fonts connection---------------------------*/
@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;

  src: local("Roboto"),
       url("../../assets/fonts/Impact.otf") format("opentype"),

}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.12") format("woff2"),
       url("Inter-Light.woff?v=3.12") format("woff");
}
/*---------------------------CSS Reset---------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h6, p, span, a, label, input{
    font-family:"Inter", sans-serif;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

html {
  font-size: 12px;
}

/*-------------------------------ОСНОВНОЙ КОД------------------------------*/
body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
}
.Search_left_part{
    display: flex;
    flex-direction: column;
    gap:4rem;
    width:calc((120rem - 3rem * 2) - 39rem);
    height:fit-content;
}
.Search_title__box{
    display: flex;
    flex-direction: column;
    width:68rem;
    height:fit-content;
}
.Search_title__container{
    width:fit-content;
    height: fit-content;
}
.Search_title{
    width:auto;
    height:auto;
    font-size:60px;
}
.Search_subtitle__container{
    width:fit-content;
    height:fit-content;
}
.Search_subtitle{
    width:auto;
    height:auto;
    font-size:26px;
    font-weight: 100;
}
.Search_form_container{
    border:none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding:2rem;
}
.Search_form{
    width: auto;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;
}
.Search_form_left-part{
    width: 12rem;
    height:auto;
    display: flex;
    flex-direction: column;
    gap:2.5rem
}
.Search_form__left-part__input____container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top:2rem;
}
.Search_label{
    font-size:20px;
}
.Search_input{
    width:20rem;
    height:3rem;
    border:1px solid gray;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}
.date_input__container{
    display: flex;
    flex-direction: row;
    gap:6px;
}
.Search_form__right-part{
    width:28rem;
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:fit-content;
    align-self: start;
}
.custom-checkbox {
    width:fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
}
.checkbox-input {
    display: none;
}

.checkbox-text {
    position: relative;
    padding-left: 30px;
}

.checkbox-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #C7C7C7;
    border-radius: 3px;
    background: white;
    transition: all 0.3s ease;
}

.checkbox-input:checked + .checkbox-text::before {
    background: url(../../assets/Images/Tick.svg);
    background-size:cover;
    border-color: #5970FF;
}
/* Состояния при наведении */
.custom-checkbox:hover .checkbox-text::before {
    border-color: #5970FF;
}

/* Отключенное состояние */
.checkbox-input:disabled + .checkbox-text::before {
    background: #F5F5F5;
    border-color: #E0E0E0;
    cursor: not-allowed;
}

.checkbox-input:disabled + .checkbox-text {
    color: #999;
    cursor: not-allowed;
}
.Search_button__container{
    align-self: end;
}
.Search_button {
    width: 25rem;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(89, 112, 255, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Inter", sans-serif;
}
.button_subitle{
    color:gray;
    font-size:16px;
}
.Search_right_part{
    width: 40rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:9rem;
}
.Folder_images__container{
    align-self: start;
    width:fit-content;
    height: fit-content;
}
.Search_big-img__container{
    align-self:end;
    width:fit-content;
    height:fit-content;
}